<!doctype html>
<html lang="ja">
  <head>
    <meta charset='utf-8' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
  </head>
  <body class="container">
    <main>
        <h1>Welcome to NestJS</h1>
    </main>
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
